.themeGenerator__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

/* Text Editor */
.textEditor__window {
  background-color: #1e1e1e;
  width: 850px;
  padding: 40px;
  border-radius: 5px;
  line-height: 1.125em;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
}

pre {
  background-color: #1e1e1e;
}

span {
  background-color: #1e1e1e;
  font-family: monospace;
  font-size: 18px;
  line-height: 1.65em;
  letter-spacing: 1px;
}

.themeGenerator__popoverPickers {
  position: relative;
  display: flex;
  margin-top: 15px;
}

/* Color Picker */
.picker {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 10px;
}

.swatch {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.popover {
  position: absolute;
  top: calc(100% + 18px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  /* box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25); */
}

.popover input {
  background-color: #151516;
  color: #d4d4d4;
  width: 100%;
  border: 0;
  font-size: 1.5em;
  text-align: center;
  letter-spacing: 1.5px;
  padding-top: 15px;
}

.popover input:focus {
  outline: none;
}

/* .comment {
  color: #6A9955;
} */

/* .function-keyword {
  color: #569CD6;
} */

/* .function-name {
  color: #DCDCAA;
} */

/* .round-brace {
  color: #d4d4d4;
} */

/* .parameter {
  color: #9CDCFE;
} */

/* .curly-brace {
  color: #d4d4d4;
} */

/* .let-const {
  color: #569CD6;
} */

/* .variable {
  color: #9CDCFE;
} */

/* .operator {
  color: #d4d4d4;
} */

.number {
  color: #B5CEA8;
}

.punctuation {
  color: #d4d4d4;
}

.fat-arrow {
  color: #569CD6;
}

.method {
  color: #DCDCAA;
}

.string {
  color: #CE9178;
}
