.themeGenerator__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

/* 'Saved!' popup -------------------- */
div#textEditor__wrapper--savedPopup {
  position: absolute;
  top: 203px;
  background-color: rgba(106, 153, 85, 0.125);
  width: 850px;
  height: 435px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

p#saved-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 35px 15px rgba(30, 30, 30, 1);
  background-color: rgba(106, 153, 85, 1);
  border: 1px solid #84C265;
  border-radius: 20px;
  width: 150px;
  height: 40px;
  font-size: 1.125em;
  color: #1f3017;
}

/* Buttons above text editor -------------------- */
.btn__wrapper {
  display: flex;
  justify-content: space-between;
  width: 850px;
  margin-bottom: 15px;
}

.btn__wrapper button {
  background-color: #1e1e1e;
  color: #888888;
  border: 1px solid #262626;
  height: 25px;
  padding: 0px 10px;
}

.btn__wrapper button:hover {
  background-color: #343434;
}

#btn__wrapper--mutate {
  margin-top: 15px;
}

#btn__wrapper--save {
  margin-top: 15px;
}

button#reset-btn {
  margin-right: 10px;
}

button#save-btn {
  margin-right: 10px;
}

/* Text Editor -------------------- */
.textEditor__window {
  background-color: #1e1e1e;
  width: 850px;
  padding: 40px;
  border-radius: 5px;
  line-height: 1.125em;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
}

pre {
  background-color: #1e1e1e;
}

span {
  background-color: #1e1e1e;
  font-family: monospace;
  font-size: 18px;
  line-height: 1.65em;
  letter-spacing: 1px;
}

/* Color Pickers -------------------- */
.colorPicker__wrapper {
  display: flex;
  justify-content: space-between;
  width: 850px;
  margin-top: 20px;
}

/* Tooltip Container -------------------- */
.tooltip {
  position: relative;
  display: flex;
  justify-content: center;
}

/* Tooltip text */
.tooltip .tooltiptext {
  font-family:Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 9pt;
  text-align: center;
  letter-spacing: 2px;
  line-height: 15px;
  visibility: hidden;
  background-color: #888888;
  color: #151516;
  padding: 6px 7px 4px 9px;
  border-radius: 3px;

  /* Position text */
  position: absolute;
  z-index: 1;
  bottom: 125%;

  /* Fade-in*/
  opacity: 0;
  transition: opacity 0.3s;
}

/* Arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #888888 transparent transparent transparent;
}

/* Show text when you mouse over swatch */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
