.picker {
  position: relative;
  display: flex;
  justify-content: center;
  /* margin: 10px; */
}

.swatch {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.popover {
  position: absolute;
  top: calc(100% + 18px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  /* box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25); */
}

.popover input {
  background-color: #151516;
  color: #888888;
  width: 100%;
  border: 0;
  font-size: 1.5em;
  text-align: center;
  letter-spacing: 1.5px;
  padding-top: 15px;
}

.popover input:focus {
  outline: none;
}
