/* TODO Add site wide styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
}

*:focus {
  outline: none;
}

body {
  background-color: #151516;
}

/* Form Input -------------------- */
input {
  background-color: #151516;
  color: #888888;
  letter-spacing: 1.5px;
  border: none;
  border-bottom: 1px solid #262626;
  text-align: center;
  font-size: 1.75em;
  padding-bottom: 7px;
  margin-bottom: 5px;
}

/* Buttons -------------------- */
button {
  background-color: #888888;
  border: none;
  border-radius: 3px;
  padding: 10px;
  height: 35px;
  color: #151516;
  letter-spacing: 0.5px;
  font-size: 10pt;
  cursor: pointer;
}

button:hover {
  background-color: #646464;
}

button:active {
  background-color: #646464;
  transform: translateY(1px);
}

/* Form -------------------- */
.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

/* Outer Form Button Container -------------------- */
.form__submit {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Inner Form Button Container -------------------- */
.form__button-container {
  margin: 5px;
}

/* Profile Dropdown -------------------- */
.profile__dropdown {
  position: absolute;
  right: 265px;
}

.profile__dropdown--content {
  background-color: #ffffff;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  min-width: 160px;
  border-radius: 3px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 20px 0;
}

.profile__dropdown--menuitem {
  padding: 10px;
  color: #4A4A4A;
}

.profile__dropdown--menuitem:hover {
  color: #888888;
}

/* Log Out -------------------- */
#profile__dropdown--logout {
  margin-top: 13px;
}
