/* TODO Add site wide styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
}

*:focus {
  outline: none;
}

body {
  background-color: #151516;
}

/* Form Input -------------------- */
input {
  background-color: #151516;
  color: #888888;
  letter-spacing: 1.5px;
  border: none;
  border-bottom: 1px solid #262626;
  text-align: center;
  font-size: 1.75em;
  padding-bottom: 7px;
  margin-bottom: 5px;
}

/* Buttons -------------------- */
button {
  background-color: #888888;
  border: none;
  border-radius: 3px;
  padding: 10px;
  color: #151516;
  letter-spacing: 0.5px;
  font-size: 10pt;
  cursor: pointer;
}

button:hover {
  background-color: #646464;
}

button:active {
  background-color: #646464;
  transform: translateY(1px);
}

/* Form -------------------- */
.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

/* Outer Form Button Container -------------------- */
.form__submit {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Inner Form Button Container -------------------- */
.form__button-container {
  margin: 5px;
}
