/* TODO Add site wide styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
}

body {
  background-color: #151516;
}

button {
  background-color: #888888;
  border: none;
  border-radius: 3px;
  padding: 10px;
  color: #151516;
  letter-spacing: 0.5px;
  font-size: 10pt;
  cursor: pointer;
}

button:hover {
  background-color: #646464;
}

button:active {
  background-color: #646464;
  transform: translateY(1px);
}

button:focus {
  outline: none;
}
