/* .splash__wrapper {
  position: absolute;
} */

/* Color Gradient -------------------- */
#color-text {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom right, #FA3445, #FA5934);
  box-shadow: 1px 1px 25px 10px rgba(0, 0, 0, 0.45);
  width: 100%;
  height: 500px;
  color: #252525;
}

/* Color Text -------------------- */
h1 {
  font-size: 7em;
  letter-spacing: -3px;
  text-shadow: rgba(0, 0, 0, 0.15) 1px 1px 1px;
}

p {
  font-size: 2em;
  text-shadow: rgba(0, 0, 0, 0.15) 1px 1px 1px;
}

/* Mini Editor Container -------------------- */
#mini-editor {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
}

#editor {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Extra shadow */
/* .miniTextEditor__window {
  width: 700px;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.6);
} */

/* Picture fade -------------------- */
#pic-fade {
  display: flex;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.15);
  width: 100%;
  height: 700px;
}

/* Cityscape banner -------------------- */
.splash__cityScape-banner {
  background-image: url(./cityscape.jpg);
  background-position: center center, center center;
  background-size: 100%, cover;
  background-attachment: scroll, fixed;
  height: 700px;
}
