.navigation {
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: #151516;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 85px;
  box-shadow: 1px 1px 25px 10px rgba(0, 0, 0, 0.15);
}

/* mīn logo --------------------  */
div#min-logo {
  width: 180px;
  height: 46px;
  border-right: 1px solid #4A4A4A;
}

#min-text {
  font-family: monospace;
  letter-spacing: -3px;
  font-size: 2.9em;
  font-weight: 100;
  margin-top: 13.5px;
  margin-left: 20px;
}

#min-logoMark {
  width: 45px;
  position: absolute;
  top: 22px;
  left: 107px;
}

/* Nav link container -------------------- */
ul {
  list-style-type: none;
  display: flex;
}

/* Nav links -------------------- */
#colorize,
#themes {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  padding-bottom: 15px;
  padding-top: 15px;
  margin: 15px;
}

#colorize {
  margin-left: 50px;
}

a {
  text-decoration: none;
  color: #4A4A4A;
}

/* Active link -------------------- */
.navbar .active {
  color: #888888;
  border-bottom: 1.5px solid #888888;
  padding-bottom: 10px;
}

/* Login Button -------------------- */
button#nav-log-in {
  margin-right: 10px;
}